* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.common-btn {
  background-color: rgb(13, 77, 227);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
  color: white;
  border: none;
  cursor: pointer;
}
.outline-btn {
  background-color: white;
  width: 260px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
  color: rgb(13, 77, 227);
  border: 1.5px solid rgb(13, 77, 227);
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  margin: auto;
  padding: 12px 0px;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  color: 575757;
}
nav ul li a {
  text-decoration: none;
  color: #575757;
}
.miting {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  min-height: 500px;
  background-image: url('./images/banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.miting-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
}
.miting-contant h1 {
  color: #fffefe !important;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  transform: translateY(-90px);
}
.miting-contant p {
  color: white !important;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 5px;
  max-width: 700px;
  transform: translateY(-80px);
}
.miting-common-btn {
  transform: translateY(100px);
}
.speaker {
  padding: 50px 0;
}
.speaker-content {
  text-align: center;
  margin-bottom: 20px;
}
.speaker-content h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.spaker-card {
  margin: 0 10px;
}
.spaker-card-contener {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.spaker-card img {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}
.spaker-card h6 {
  color: #2563eb;
}
.price {
  padding: 50px 0;
}
.price-tag {
  text-align: center;
  margin-top: -70px;
  margin-bottom: -20px;
}
.price-tag h1 {
  font-size: 40px;
  font-weight: bold;
}
.price-tag h6 {
  font-size: 13px;
  padding-top: 10px;
}
.card {
  max-width: 1200;
  margin: 50px 10px;
  padding: 30px;
  border: 1px solid #575757;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #fffefe;
}

.card {
  width: 260px;
  height: 350px;
  padding: 30px;
  border: 1px solid;
  border-radius: 15px;
}
.price {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.card.pro .common-btn {
  width: 260px;
}
.card.pro {
  background-color: #0d1b2a;
  color: #ffffff !important;
}
.pro {
  transform: translateY(-10px);
}
.card ul li {
  line-height: 1.8;
}
.card p {
  font-size: 13px;
  color: #888888;
}
.card h5 {
  font-size: 10px;
  color: #888888;
}
.card.pro h5 {
  color: #93c5fd;
}
.card button {
  margin-top: 30px;
}
.card.team .outline-btn {
  color: #0d1b2a;
  border: 1.5px solid #0d1b2a;
}
.online-miting-heading {
  text-align: center;
}
.online-miting-heading h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}
.online-miting-heading h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.online-miting-heading p {
  font-size: 20px;
  margin-bottom: 40px;
}
.miting-box {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.left-box {
  width: 400px;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  border-radius: 1px solid #0d1b2a;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  line-height: 2.5;
}
.left-box {
  text-align: center;
}
.left-box ul {
  display: inline-block;
  text-align: left;
}
.outline-btn {
  display: block;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}
.right-box {
  width: 400px;
  background: #0d1b2a;
  color: white;
  padding: 30px;
  border-radius: 15px;
  border-radius: 1px solid #0d1b2a;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 3;
}
.right box common-btn {
  margin-top: 0px;
}
.right-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
footer.end {
  position: static;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #0d1b2a;
  color: white;
  text-align: left;
}
.border {
  border: none;
  border-top: 1px solid rgba(#0d1b2a);
  width: 100%;
  margin: 15px 0;
}
.end-logo {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: auto;
}
.end-logo img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin: 20px;
}
footer.end section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.left-logo {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.left-logo p {
  text-align: center;
}
